.customCard{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center; 
   margin: 10px 20px;
   max-width: 600px;
}
.customCard >*{
   margin: 13px 0;
}
.customCard img{
   max-width: 100%;
   border-radius: 16px;
}

.customCardTitle {
   font-style: normal;
   font-weight: 600;
   font-size: 28px;
   line-height: 120%;
   color:  #22245A;
}
   
.customCardText {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 17px;
   line-height: 150%;
   color: #22245A;
   text-align: justify;
}

.customCardSubTitle{
   font-family: Montserrat;
   font-size: 17px;
   font-weight: 400;
   line-height: 26px;
   letter-spacing: 0em;
   text-align: left;
   color: #22245A;
}

.customCardSubText{
   text-decoration: none;
   font-family: Montserrat;
   font-size: 20px;
   font-weight: 600;
   line-height: 24px;
   letter-spacing: 0em;
   text-align: left; 
   color: #22245A;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.customCardSubText img{
   margin-right: 8px;
}

.cardContentFullPage{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: left;
}

.cardContentFullPage div:not(:last-child){
   padding-right: 36px;
}

@media (min-width:400px) {
   .cardContentFullPage div:not(:last-child){
      padding-right: none;
   }
}

.cardContentFullPage div{
   display: flex;
   flex-direction: column;
}
.cardContentMobilePage {
   display: none;
}
.cardContentMobilePage img{
   margin: 8px;
}

.cardContentMobilePage div{
   display: flex;
   flex-direction: row;
   align-items: center;
}
.cardContentMobilePage div a{
   font-family: Montserrat;
   font-size: 14px;
   font-weight: 600;
   line-height: 17px;
   letter-spacing: 0em;
   text-align: left;
   color: #22245A;
   text-decoration: none;
}

.customCardButton{
   font-weight: 600;
   font-size: 18px;
   line-height: 150%;
   color: #000000;
   width: 170px;
   height: 68px;
   background: #FDB92F;
}

@media (max-width:769px) {


   .customCardTitle{
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 600;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;
   }
   .cardContentFullPage {
      display: none;
   }
   .cardContentMobilePage {
      display: block;
   }
   .customCardText{
      font-family: Montserrat;
      font-size: 13px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: justify;
   }
   .customCardButton{
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      color: #000000;
      width: 136px;
      height: 49px;
      background: #FDB92F;
   }
}
