
.equipment{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
}

.equipmentCard {
   width: 200px;
   text-decoration: none;
   padding: 10px;
}
.equipmentCard span {
   color: #22245A;
   font-weight: 400;
   font-size: 18px;
   line-height: 120%;
}

.equipmentCard img{
   width: 112px;
   height: 112px;
   padding-bottom: 12px;
}