footer {
 margin-top: -260px;
 padding-top: 320px;
}
footer div > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.footerBlockMain{
   max-width: 420px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: left;
   font-family: 'Montserrat',sans-serif;
   font-size: 14px;
   font-weight: 600;
   line-height: 17px;
   letter-spacing: 0em;
   text-align: left;
   color: #A2A4C5;
}

.footerBlockMain a{
   text-decoration: none;
   color: inherit;
   cursor: pointer;
   opacity: 0.8;
   margin: 10px 0;
}
.footerBlockMain a img{
   width: 16px;
   height: 16px;
}

.footerBlock{
   max-width: 420px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: left;
   font-family: 'Montserrat',sans-serif;
   font-size: 14px;
   font-weight: 600;
   line-height: 17px;
   letter-spacing: 0em;
   text-align: left;
   color: #A2A4C5;
}
.footerBlock a{
   text-decoration: none;
   color: inherit;
   cursor: pointer;
   opacity: 0.8;
   margin: 10px 0;
}
.footerBlock a img{
   width: 16px;
   height: 16px;
}
.footerLogo img {
   width: 52px;
   height: 56px;
   margin: 10px;
}
.footerLogo div {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: left;
   align-items: center;
}

.footerLogoText {
   display: flex;
   flex-direction: column;
}

.footerLogoTitle {
   font-family: Montserrat;
   font-size: 28px;
   font-weight: 800;
   line-height: 34px;
   letter-spacing: 0em;
   color: #ffffff;
   text-transform: uppercase;
}

.footerSubTitle {
   font-family: 'Montserrat',sans-serif;
   font-size: 14px;
   font-weight: 600;
   line-height: 17px;
   letter-spacing: 0em;
   text-align: left;
   color: #A2A4C5;
}

.subFooter {
   margin-top: 28px;
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   align-items: center;
   min-height: 65px;
}

.subFooter a, .subFooter span {
   text-decoration: none;
   opacity: 0.4;
   font-family: Montserrat;
   font-size: 14px;
   font-weight: 400;
   letter-spacing: 0em;
   text-align: center;
   color: #FFFFFF;
   
}

@media (max-width:769px) {
   .footerBlock{
   display: none;
   }
   .footerBlockMain{
      margin: 0 auto;
      align-items: center;
   }
   .footerBlockMain a{
      font-family: Montserrat;
      font-size: 13px;
      font-weight: 600;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: left;
      color: #A2A4C5;
   }
   .footerLogo{
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .footerLogo div img{
      width: 27px;
      height: 29px;
   }
   .footerLogoText span {
      max-width: 253px;
      font-family: Montserrat;
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
      letter-spacing: 0em;
      text-align: center;
      color: #A2A4C5;
      margin-bottom: 36px;
   }
   .footerLogoTitle{
      font-size: 21px;
   }
   .subFooter{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    
   }
   .subFooter a{
      font-family: Montserrat;
      font-size: 11px;
      font-weight: 400;
      line-height: 13px;
      letter-spacing: 0em;
      text-align: center;

   }
   .subFooter span{
      font-family: Montserrat;
      font-size: 11px;
      font-weight: 400;
      line-height: 13px;
      letter-spacing: 0em;
      text-align: center;
   }
}