.commerceForm {
   position: relative;
   width: 100%;
}

.commerceFormBlock {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-top: 111px;
   padding-bottom:111px;
}

.commerceFormTitle{ 
   font-family: Montserrat;
   font-size: 44px;
   font-weight: 800;
   line-height: 53px;
   letter-spacing: 0em;
   text-align: center;
   color: white;
   max-width: 794px;
   text-transform: uppercase;
}
   
.commerceForm input{
   background-color: transparent;
   margin: 20px 0;
   width: 100%;
   height: 80px;
}

@media (max-width:769px) {
   .commerceFormTitle{
      font-family: Montserrat;
      font-size: 24px;
      font-weight: 800;
      line-height: 29px;
      letter-spacing: 0em;
      text-align: center;
   }
   .commerceForm input{

   font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
   }
   .commerceFormBlock {
      padding-top: 56px;
      padding-bottom:56px;
   }
}